/* Container */
#moving-animation {
  overflow: hidden;
  position: relative;
  background: black;
}

/* Wrapper (For seamless loop) */
.marque-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  box-shadow:
    inset 4px 4px 12px rgb(15, 15, 15),
    inset -4px -4px 12px rgb(15, 14, 14);
}

/* Track */
.marque-left,
.marque-right {
  display: flex;
  align-items: center;
  gap: 6rem;
  width: max-content;
  padding: 2rem 0;
}

/* Pause on Hover */
.marque:hover,
.marque-left:hover,
.marque-right:hover {
  animation-play-state: paused;
}

/* Logos */
.logo {
  height: 4vw;
  min-height: 40px;
  min-width: 55px;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
  cursor: pointer;
}

.logo:hover {
  opacity: 1;
  transform: scale(1.11);
}

/* Tooltip */
.logo-tooltip {
  bottom: -28px;
  color: white;
  font-size: 0.8rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(5px);
  transition: 0.2s ease;
  pointer-events: none;
  white-space: nowrap;
}

.logo-wrapper:hover .logo-tooltip {
  opacity: 1;
  transform: translateY(0);
}

/* Animations */
.marque-left {
  animation: scroll-left 20s linear infinite;
}

.marque-right {
  animation: scroll-right 20s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

/* Responsive */
@media (max-width: 768px) {

  /*for tablets */
  .logo {
    height: 8vw;
    min-height: 45px;
  }

  .marque-left,
  .marque-right {
    gap: 2rem;
    padding: 1.5rem 0;
  }
}

@media (max-width: 480px) {

  /* for phones */
  .logo {
    height: 11vw;
    min-height: 40px;
  }

  .marque-left,
  .marque-right {
    gap: 1.5rem;
  }
}